$defaultFont: "Open Sans", sans-serif;
$background: #dfdfdf;

body {
    font-family: $defaultFont;
    text-align: center;
    background: $background;
}

ul li {
    background: #ccc;
    list-style: none;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
}

ul li:hover {
    background: rgb(173, 172, 172);
}

a {
    color: aliceblue;
}

i.fas {
    margin: 0 4px;
}

input {
    width: 100%;
    margin: 10px;
    padding: 5px;
}